/* style the body with fornt familt and font size */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  /* style heading */
  h1,
  h2,
  h4,
  h5,
  h6 {
    font-weight: 700;

}
/* navbar link styling text color*/
.navbar{
    border-bottom:3px solid #0D6EFD;
}

.navbar-nav {
    display: flex;
    min-width: 300px;
    list-style: none;
    padding-left: 0rem;
}

.navbar-nav a {
    display: flex;
    padding:5px;
    margin:10px;
    text-decoration: none;
}

a.navbar-brand {
    font-size: 28px;
    font-weight: bolder;
}

.navbar-toggler-icon {
    background-color: #0D6EFD;
    border-radius: 15%;
    height: 20px;
    width: 20px;
 }

.social {
    font-size: 26px;
    margin: 30px;
}
 .portraitPhoto {
     max-height: 600px;
 }
#about {
    font-size: 24px
}
.info{ 
    position: absolute;
    left: 0;
    top: 85%;
    right: 70%;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    background: pink;
}
/* styling the text on picture in the work experience section */
.card { 
    position: absolute;
    left: 0;
    top:210%;
    right: 70%;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    background: pink;
}
.card-1{ 
    position: absolute;
    left: 0;
    top: 210%;
    right: 20%;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    background: pink;
}
